@use '../../_styles/contentBox';
@use '@/styles/fonts/primaryFont';
@use '@/styles/colors';

.joiningRequirements {
  @include contentBox.contentBox;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  @include primaryFont.primary-13px;
  color: colors.$dark-gray;
}

.requirements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.partition {
  display: flex;
  gap: 20px;
  // justify-content: space-between;
}

.clanType {
  @include primaryFont.primary-15px;
  display: flex;
  align-items: center;
}

.townhall {
  @include primaryFont.primary-15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.trophies {
  display: flex;
  align-items: center;
  gap: 4px;

  > .score {
    @include primaryFont.primary-15px;
  }
}
