@use '@/styles/fonts/primaryFont';

.logoContainer {
  &.hidden {
    visibility: hidden;
  }
}

.withBeta {
  @include primaryFont.primary-13px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
