$main-color: #3c5375;

$white: #ffffff;

$black: #141414;
$light-black: #1f1f1f;
$pale-black: #292929;

$gray: #cfcfcf;
$light-gray: #e6e6e6;

$dark-gray: #787878;

$positive-color: #359c50;
$negative-color: #c1362a;
$neutral-color: #878d93;
