@use '@/styles/fonts/primaryFont';
@use '@/styles/colors';

.clanInSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badgeWrapper {
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.clanInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.clanName {
  @include primaryFont.primary-15px;
  color: colors.$white;
}

.location {
  @include primaryFont.primary-13px;
  display: flex;
  align-items: center;
  gap: 4px;
}
