@use '../../../../styles/background';
@use '../../../../styles/screen';
@use '../../../../styles/fonts/primaryFont';
@use '../../../../styles/colors';

.clanNotFound {
  @include background.content;
  width: 100%;
  max-width: screen.$mobile-max-size;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  > .mesageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    > .mainText {
      @include primaryFont.primary-20px;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    > .subText {
      @include primaryFont.primary-10px;
      color: colors.$dark-gray;
    }
  }
}
