@use '../../_styles/contentBox';
@use '@/styles/fonts/primaryFont';

.activities {
  @include contentBox.contentBox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labels {
  display: flex;
  gap: 14px;
}

.reinforcements {
  @include primaryFont.primary-15px;
  display: flex;
  align-items: center;
  gap: 6px;
}
