@use '../styles/colors';
@use '../styles/fonts/primaryFont';
@use '../styles/background';

.main {
  padding: 40px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background-color: colors.$pale-black;
}

.searchBarArea {
  width: 100%;
  max-width: 768px;
  padding: 0 20px;
}

.tempLogo {
  color: colors.$white;
  font-size: 30px;
  font-weight: 700;
}

.leaderBoardArea {
  width: 100%;
  max-width: 768px;
  height: 100%;
}
