@use '../styles/colors/colors';
@use '../styles/colors/font-colors';

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: colors.$sub-black-1;

  color: font-colors.$primary-emphasized;
  font-size: 3em;
  font-weight: bold;
}
