@use '@/styles/background';
@use '@/styles/screen';
@use '@/styles/fonts/primaryFont.scss';
@use '@/styles/colors';

.main {
  min-height: 100vh;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: background.$baseBackgroundColor;
}

.contentsArea {
  width: 100%;
  max-width: screen.$mobile-max-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// topInfo
.topInfo {
  display: flex;
  gap: 8px;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clanIdentity {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.clanName {
  @include primaryFont.primary-20px;
  color: colors.$white;
  font-weight: 700;
}

.clanTag {
  @include primaryFont.primary-12px;
}

.restInfo {
  display: flex;
  gap: 10px;
}

.members {
  @include primaryFont.primary-14px;
}

.location {
  @include primaryFont.primary-14px;
}

@mixin contentBox {
  @include background.content;
  padding: 10px 20px;
}

//scores
.scores {
  @include contentBox;
  display: flex;
  justify-content: space-between;
}

.leagueTrophy {
  @include primaryFont.primary-16px;
}

.trophies {
  @include primaryFont.primary-14px;
}

//warRecords
.warRecords {
  @include contentBox;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .top {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      gap: 18px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      gap: 18px;
    }
  }
}

.warRecord {
  @include primaryFont.primary-14px;
}

.recordsBoard {
  display: flex;
  gap: 5px;
  align-items: center;

  > .record {
    width: 10px;
    height: 10px;
    border-radius: 10px;

    background-color: colors.$neutral-color;

    &.win {
      background-color: colors.$positive-color;
    }

    &.lose {
      background-color: colors.$negative-color;
    }
  }
}

.moreDetails {
  @include primaryFont.primary-14px;
  padding: 5px;
  background-color: colors.$main-color;
  border: none;
  border-radius: 5px;
  color: colors.$white;
}

//joiningConditions
.joiningConditions {
  @include contentBox;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  @include primaryFont.primary-12px;
  color: colors.$dark-gray;
}

.conditions {
  display: flex;
  justify-content: space-between;
}

.condition {
  @include primaryFont.primary-14px;
}

//activities
.activities {
  @include contentBox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.labels {
  display: flex;
  gap: 14px;
}

.sendedReinforcements {
  @include primaryFont.primary-14px;
}

.receivedReinforcements {
  @include primaryFont.primary-14px;
}
