@use '@/styles/background';
@use '@/styles/screen';
@use '@/styles/fonts/primaryFont.scss';
@use '@/styles/colors';

.main {
  min-height: 100vh;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: background.$baseBackgroundColor;
}

.contentsArea {
  width: 100%;
  max-width: screen.$mobile-max-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
