@use '@/styles/fonts/primaryFont';
@use '@/styles/colors';

.memberCard {
  @include primaryFont.primary-15px;
  width: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid colors.$positive-color;
  padding: 4px 0 8px;

  &.reverse {
    flex-direction: row-reverse;
    border-color: colors.$negative-color;
  }
}

.middle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;

  &.reverse {
    flex-direction: row-reverse;

    > .stars {
      display: flex;
      flex-direction: row;
    }
  }

  > .stars {
    display: flex;
    flex-direction: row-reverse;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  &.reverse {
    flex-direction: row-reverse;
  }

  > .numOfInvade,
  > .invade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.notInvade {
  display: flex;
  flex-direction: row-reverse;

  &.reverse {
    flex-direction: row;
  }
}
