@use '@/styles/fonts/primaryFont';
@use '@/styles/colors';

.member {
  border-bottom: 1px solid colors.$pale-black;
  > td {
    @include primaryFont.primary-15px;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;

    &:first-child {
      padding-left: 10px;
    }

    &:last-child {
      padding-right: 10px;
    }

    &.townhall {
      width: 40px;

      > .townhallImageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        overflow: hidden;
      }
    }

    &.memberInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      > .role {
        @include primaryFont.primary-13px;
        color: colors.$dark-gray;
      }
    }

    &.trophies {
      > .trophiesWrapper {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }

  .unrankedIconWrapper {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
