$main-color: #3c5357;

$white: #ffffff;

$black: #141414;
$sub-black-1: #1f1f1f;
$sub-black-2: #292929;

$gray: #cfcfcf;
$sub-gray: #e6e6e6;

$dark-gray: #787878;

$positive-color: #5ad046;
$negative-color: #e32929;
$neutral-color: $gray;
