@use '../../_styles/contentBox';
@use '@/styles/fonts/primaryFont';
@use '@/styles/colors';

.summary {
  display: flex;
  gap: 8px;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clanIdentity {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.clanName {
  @include primaryFont.primary-24px;
  color: colors.$white;
  font-weight: 700;
}

.clanTag {
  @include primaryFont.primary-13px;
}

.restInfos {
  display: flex;
  gap: 10px;
}

.restInfo {
  @include primaryFont.primary-15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

@mixin contentBox {
  @include background.content;
  padding: 10px 20px;
}
