@use '../../_styles/contentBox';
@use '@/styles/fonts/primaryFont';
@use '@/styles/colors';

.warRecords {
  @include contentBox.contentBox;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .top {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      gap: 18px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      gap: 18px;
    }
  }
}

.warRecord {
  @include primaryFont.primary-15px;
}

.recordsBoard {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  .recordContainer {
    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;

      &::after {
        content: '';
        display: block;
        width: 9px;
        height: 2px;
        background-color: colors.$neutral-color;
      }

      &.win::after {
        background-color: colors.$positive-color;
      }

      &.lose::after {
        background-color: colors.$negative-color;
      }
    }

    > .record {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 13px;
      height: 13px;
      border-radius: 13px;

      background-color: colors.$neutral-color;

      &.win {
        background-color: colors.$positive-color;
      }

      &.lose {
        background-color: colors.$negative-color;
      }
    }
  }
}

.moreDetails {
  @include primaryFont.primary-15px;
  padding: 5px;
  background-color: colors.$main-color;
  border: none;
  border-radius: 5px;
  color: colors.$white;
}
